
<div>
    <div>
        <h2> PAGINA INFORMACION</h2>
        <ul>
            <li>Argumento de entrada: {{informacion.argumentosEntrada}}</li>
            <li>Path de ejecución: {{informacion.pathEjecucion}}</li>
            <li>Nombre de la plataforma: {{informacion.nobrePlataforma}}</li>
            <li>Process Id: {{informacion.processID}}</li>
            <li>Version de Node: {{informacion.versionNode}}</li>
            <li>Carpeta del proyecto: {{informacion.carpetaDeProyecto}}</li>
            <li>Memoria reservada: {{informacion.memoriaTotalReservada}}</li>
        </ul>
    </div>
    <div>
        <button class="btn btn-success" onclick="location.href='/api/autenticacion/login'">Ir pagina de inicio sesion</button>
    </div>
</div>

